In [1]:
import jupyterlab_dash
import dash
import dash_html_components as html

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objects as go
import numpy as np

import pandas as pd

In [2]:
forecast_df = pd.read_csv('forecast_result_tainan.csv')
display(forecast_df.head())

,time,L05201_x,L09870,L01543,L06286,L01144,L05107,L05042,L01294,L00190,L02284,L01152,L00082,L01693,L03587,...,L05811,L06913,L04241,L05145,L04304,L01556,L00500,L98066,L07416,L04152,L03382,L04017,L04294,L05893,L05201_y
0,2019-03-01 06:00:00,35.134963,40.085713,NaN,NaN,37.840989,NaN,40.093677,39.205644,30.599845,39.383541,NaN,NaN,NaN,NaN,...,NaN,31.488935,31.642293,29.726891,35.321547,NaN,35.607722,NaN,NaN,NaN,NaN,NaN,33.862173,NaN,NaN
1,2019-03-01 06:15:00,34.743706,37.282718,36.729523,NaN,36.071935,31.545508,39.244258,34.791920,27.670525,37.856298,40.562759,NaN,32.596429,40.046824,...,37.286573,32.539932,31.365265,30.417444,42.713888,35.687719,32.610254,NaN,NaN,34.474472,NaN,NaN,37.286859,38.009808,NaN
2,2019-03-01 06:30:00,35.198855,38.011871,36.333911,35.488701,35.613133,31.223235,37.757226,32.528805,25.905566,37.424585,38.259191,NaN,32.647351,38.736527,...,36.560167,32.628594,31.891656,31.509045,44.083700,35.730590,32.647672,NaN,33.636132,30.993492,NaN,30.505382,38.871570,38.150128,27.135176
3,2019-03-01 06:45:00,35.753885,39.515138,35.683941,35.654141,36.317611,30.819836,36.971192,32.867365,25.571772,37.952419,36.544864,33.507180,31.973629,38.064815,...,36.655475,31.577425,32.837938,31.872184,41.391144,34.298342,35.377237,NaN,33.303644,28.303780,NaN,30.645780,38.878773,39.714068,29.413497
4,2019-03-01 07:00:00,36.035648,39.705286,35.553426,36.302840,37.296786,29.646012,37.274344,34.481275,25.656125,38.771818,35.803762,33.131247,31.646226,37.953408,...,36.282938,29.995966,33.730365,31.459479,38.044115,33.085353,38.609206,NaN,31.862805,26.866304,31.821528,30.822450,38.332764,41.073771,30.116905

In [30]:
forecast_df.time

0       2019-03-01 06:00:00
1       2019-03-01 06:15:00
2       2019-03-01 06:30:00
3       2019-03-01 06:45:00
4       2019-03-01 07:00:00
               ...
8252    2019-05-26 05:00:00
8253    2019-05-26 05:15:00
8254    2019-05-26 05:30:00
8255    2019-03-01 05:30:00
8256    2019-03-01 05:45:00
Name: time, Length: 8257, dtype: object

In [49]:
viewer = jupyterlab_dash.AppViewer()
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

app.layout = html.Div([
                html.Div([
                    html.H1("台南市公車交通預測模型與視覺化"),
                    #html.Img(className="logo", src=app.get_asset_url("tainan_logo.png")),
                    dcc.Dropdown(
                        id='demo-dropdown',
                        options=[
                            {'label': '2019-05-05 07:30', 'value': '730.html'},
                            {'label': '2019-05-05 08:00', 'value': '800.html'},
                            {'label': '2019-05-05 08:30', 'value': '830.html'},
                            {'label': '2019-05-05 09:00', 'value': '900.html'},
                            {'label': '2019-05-05 12:00', 'value': '1200.html'},
                            {'label': '2019-05-05 12:30', 'value': '1230.html'},
                            {'label': '2019-05-05 13:00', 'value': '1300.html'},
                            {'label': '2019-05-05 13:30', 'value': '1330.html'},
                            {'label': '2019-05-05 19:00', 'value': '1900.html'},
                            {'label': '2019-05-05 19:30', 'value': '1930.html'},
                            {'label': '2019-05-05 20:00', 'value': '2000.html'},
                            {'label': '2019-05-05 20:30', 'value': '2030.html'}   
                        ],
                        value='730.html'
                    ),
                    html.Div(id='dd-output-container')],
                    #style={'width': '48%', 'display': 'inline-block'}),
                ),
                    
                    
                html.Div(html.Iframe(id = 'profile', srcDoc=open('your_report.html', 'r').read(), width='100%', height='500'))
                #],
                    #style={'width': '48%', 'float': 'right', 'display': 'inline-block'}
                #)
]  
)

In [50]:
'''dcc.Dropdown(
                        id='site-dropdown',
                        options=[
                            {'label': 'L09870', 'value': 'L09870'},
                            {'label': 'L05042', 'value': 'L05042'},
                            {'label': 'L01294', 'value': 'L01294'}
                        ],
                        value='L09870'
                    ),
                    '''
                    #dcc.Graph(id='df-plot-container')
                    #html.Div(id='df-profile-container')
        
'''
@app.callback(
    dash.dependencies.Output('df-plot-container', 'figure'),
    [dash.dependencies.Input('site-dropdown', 'value')])
def update_graph(value):
    
    return {
        'data': [dict(
            x=forecast_df['time'],
            y=forecast_df[value],            
            mode='markers',
            marker={
                'size': 3,
                'opacity': 1,
                'color': 'blue',
                'line': {'width': 1}
            }
        )],
        'layout': go.Layout(
            xaxis={
                'title': value
            },
            yaxis={
                'title': '預測速度(KPH)'
            },
            margin={'l': 40, 'b': 40, 't': 10, 'r': 0},
            hovermode='closest',
        )
    }
''''

SyntaxError: EOL while scanning string literal (<ipython-input-50-ce0bde8ee856>, line 43)

In [51]:
#callbacks
@app.callback(
    dash.dependencies.Output('dd-output-container', 'children'),
    [dash.dependencies.Input('demo-dropdown', 'value')])
def update_output(value):
    #return 'You have selected "{}"'.format(value)
    return html.Iframe(id = 'map', srcDoc=open(value, 'r').read(), width='100%', height='500')

In [52]:
viewer.show(app)

In [29]:
import pandas_profiling
from pandas_profiling import ProfileReport

### 處理無資料部分

In [19]:
sec_info = pd.read_csv('SECINFO.csv')
#display(sec_info.head())
sec_info = sec_info.dropna()
sec_cols = forecast_df.columns
sectid_ids_gt = list(sec_info['SECTORID'])
not_in_gt = 0
in_gt = 0
sec_cols_gt = list()
for sec in sec_cols:
    if sec not in sectid_ids_gt:
        not_in_gt += 1
        #display('In sectodID: ' + sec)
    else:
        in_gt +=1
        sec_cols_gt.append(sec)
        #display(sec)
        
display('In forecast but not in ground_truth: ' + str(not_in_gt))
display('In forecast and ground truth: ' +str(in_gt))

'In forecast but not in ground_truth: 248'

'In forecast and ground truth: 116'

In [26]:
forecast_df_refine = forecast_df.set_index('time')
forecast_df_refine = forecast_df_refine[sec_cols_gt]
display(forecast_df_refine.head())

,L01144,L05107,L05042,L01294,L02284,L01152,L01693,L01312,L00796,L04690,L00466,L04720,L03266,L03374,L04624,...,L03376,L03663,L03321,L00472,L01665,L00832,L01624,L03674,L01844,L03750,L04241,L04304,L01556,L04152,L03382
time,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2019-03-01 06:00:00,37.840989,NaN,40.093677,39.205644,39.383541,NaN,NaN,NaN,NaN,33.363585,NaN,33.466779,33.950608,33.616733,35.432605,...,32.454777,33.216443,39.979424,NaN,NaN,41.858920,NaN,35.531947,37.131153,NaN,31.642293,35.321547,NaN,NaN,NaN
2019-03-01 06:15:00,36.071935,31.545508,39.244258,34.791920,37.856298,40.562759,32.596429,34.751048,36.249927,30.043369,33.876916,34.821498,32.922882,33.574512,33.078595,...,32.460810,33.754995,38.963210,NaN,35.177406,42.309129,33.095455,34.701962,34.406502,NaN,31.365265,42.713888,35.687719,34.474472,NaN
2019-03-01 06:30:00,35.613133,31.223235,37.757226,32.528805,37.424585,38.259191,32.647351,31.741832,34.844759,27.998648,33.435855,35.887039,32.559655,33.763372,31.778438,...,31.759328,33.885201,37.290166,NaN,34.801064,42.959824,36.065041,34.644382,33.213564,NaN,31.891656,44.083700,35.730590,30.993492,NaN
2019-03-01 06:45:00,36.317611,30.819836,36.971192,32.867365,37.952419,36.544864,31.973629,29.550972,33.320244,27.860286,33.557494,35.610460,33.426809,33.899427,31.883359,...,30.851400,33.659820,36.178921,NaN,35.040418,44.182167,37.135533,34.738153,33.319891,30.881530,32.837938,41.391144,34.298342,28.303780,NaN
2019-03-01 07:00:00,37.296786,29.646012,37.274344,34.481275,38.771818,35.803762,31.646226,29.145283,32.052700,28.599324,34.218514,34.174255,34.861489,33.945041,32.779957,...,30.284967,32.936982,36.208937,NaN,34.861414,45.429658,36.538230,34.536860,33.801003,30.948429,33.730365,38.044115,33.085353,26.866304,31.821528

In [30]:
profile = ProfileReport(forecast_df_refine, minimal=True, title='道路預測報告', html={'style':{'full_width':True}}).to_file(output_file="your_report.html")